body{
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.font{
    color: white;
}
.font-1{
    color: #f1f1f1;
}
.form{
    height: 330px;
    width: 400px;
    padding: 50px;
    padding-bottom: 29px;
    padding-top: 20px;
    margin-top: 180px;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-backdrop-filter: blur(10px);
    
}
.input{
    width: 90%;
    padding: 15px;
    background-color: #f1f1f1;
    margin: 5px 0px 20px 0px;
    border: none;
    outline: none;
    border-radius: 13px;
}

.input :focus{
    background-color:#ddd;
    
}
.input:hover{
     background-color: rgb(184, 184, 184);
     border-radius: 13px;
     transition-duration: 0.4s;
}

.button{
    
    align-content: center;
    color: white;
    padding: 12px;
    border: none;
    text-align: center;
    font-size: 18px;
    background-color: rgb(0, 68, 255);
    cursor: pointer;
    border-radius: 13px;
    transition-duration: 0.4s;
    width: 400px;
    -webkit-backdrop-filter: blur(10px);
}
.button:hover{
    background-color: rgb(28, 28, 218);
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}